# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# APP_URL: The URL where this applet is hosted.
APP_URL=""

# GOOGLE_MAPS_API_KEY: Provided for Rasutsav interactive grounds and collection hubs
VITE_GOOGLE_MAPS_API_KEY="AIzaSyC_8OUfyJuV0Hfx9-I2csfnSJFm-Yb-2W8"
